// Variables
$body-font: 'Kavivanar', cursive;
$head-foot-bgcolor: #C0C0C0;
$head-foot-font: 'Montserrat', sans-serif;
$header-font-size: 2em;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $body-font;
}

header {
  background-color: $head-foot-bgcolor;
  margin-bottom: 2em;
  h1 {
    text-align: center;
    font-family: $head-foot-font;
    text-transform: uppercase;
    font-size: $header-font-size;
    font-weight: 700;
    padding: 1em;
  }
}

.section {
  max-width: 43.750em;
  width: 100%;
  margin: 0 auto;
  .lyrics {
    position: relative;
    margin: 1em;
  }
  .video {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
    margin-bottom: 1em;
  }
}

footer {
  font-family: $head-foot-font;
  background: $head-foot-bgcolor;
  text-align: center;
  p {
    @extend .section;
    padding: 0.5em 0;
  }
}

@media (max-width: 43.750em) {
  .section {
    .lyrics {
      max-width: 24.563em;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 1em;
    }
    .video {
      position: static;
      display: block;
    }
  }
}

@media (max-width: 20em) {
  .section {
    .video {
      width: 100%;
      height: auto;
    }
  }
}