// Variables
$body-font: 'Kavivanar', cursive;
$header-bcolor: #C0C0C0;
$header-font: 'Montserrat', sans-serif;
$header-font-size: 2em;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $body-font;
}

header {
  background-color: $header-bcolor;
  margin-bottom: 2em;
  h1 {
    text-align: center;
    font-family: $header-font;
    text-transform: uppercase;
    font-size: $header-font-size;
    font-weight: 700;
    padding: 1em;
  }
}

section {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  .lyrics {
    position: relative;
    text-align: left;
    margin: 1em;
  }
  .video {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto;
  }
}

@media (max-width: 700px) {
  
  section {
    .lyrics,
    .video {
      position: static;
    }
  }
}